@import url("https://fonts.googleapis.com/css?family=Cardo|Montserrat:300,400,500");
/*********************
BREAKPOINTS
*********************/
body {
  font-family: "Cardo", Georgia, serif;
  background-color: #ece8db;
  color: #666666;
  font: 20px/32px; }

nav {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  background-color: #33383A;
  padding: 12px 0;
  text-align: center; }
  nav h1 {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 38px;
    text-transform: uppercase;
    margin: 0 3%;
    font-weight: 500;
    display: inline-block;
    color: #F3F2EE; }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 3% 0;
    display: inline-block; }
    nav ul li {
      display: inline-block; }
      nav ul li a {
        text-decoration: none;
        color: #BCB9AC;
        padding: 10px;
        display: block;
        font-size: 30px; }

.intro {
  background-color: #f5f4f1;
  border: 30px solid #FFF; }
  @media (max-width: 320px) {
    .intro {
      margin-top: 138px; } }
  @media (min-width: 320px) {
    .intro {
      margin-top: 88px; } }
  @media (min-width: 1024px) {
    .intro {
      margin-top: 88px; } }
  .intro p {
    margin-bottom: 20px; }
  .intro a {
    margin-top: 20px;
    padding: 10px;
    border: 5px solid #E3DECA;
    color: #666666;
    text-decoration: none;
    text-transform: uppercase; }

.content {
  font: 22px/32px "Cardo", Georgia, serif; }
  .content h1 {
    font-family: "Montserrat", Helvetica, sans-serif;
    margin-top: 95px; }
  .content h2 {
    font-family: "Montserrat", Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    margin: 35px 0 0 0;
    padding: 0;
    color: #BCB9AC; }
  .content h3 {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    margin: 10px 0 20px;
    padding: 15px 0;
    color: #666666;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400; }
    @media (min-width: 320px) {
      .content h3 .date {
        display: block; } }
    @media (min-width: 1024px) {
      .content h3 .date {
        float: right; } }
  .content h4 {
    margin-top: 0; }
  .content p {
    margin: 0 0 50px; }
  @media (min-width: 320px) {
    .content {
      padding: 8%; } }
  @media (max-width: 320px) {
    .content {
      padding: 8%; } }
  @media (min-width: 1024px) {
    .content {
      padding: 3% 18% 6%; } }

footer {
  color: gray;
  font-size: 10px;
  text-align: center; }
