@import url("https://fonts.googleapis.com/css?family=Cardo|Josefin+Sans");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

body {
  color: #717171;
  font-family: "Cardo", serif;
  font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
}

.wrapper {
  position: relative;
}

.content {
  margin: 0 auto;
  width: 65%;
  padding: 5% 10%;
}
.intro {
  background-color: rgba(246, 246, 245, 0.7);
  border-radius: 16px;
  margin-top: 32px;
}

.callout p {
  font-size: 20px;
  color: #717171;
}
.tags {
  color: #76766b;
  display: inline-block;
  font-style: italic;
  margin: 8px 8px 16px 0;
  font-size: 14px;
  padding: 4px 8px;
  background-color: rgba(246, 246, 245, 0.7);
}
.hidden-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.center {
  text-align: center;
}

footer {
  border-top: 1px solid #f6f6f5;
  width: 80%;
  padding: 10px 10%;
}

nav ul {
  font: 1.2rem "Raleway", Helvetica, sans-serif;
  list-style: none;
  margin: 0 0 5% 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0;
}
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 10px 4px;
  color: #4d4d4c;
}
nav ul li a:hover {
  color: #4d86a8;
  text-decoration: none;
}
nav ul li.current {
  border-bottom: 6px solid #242424;
}
nav ul li.current a {
  color: #242424;
}

h1 {
  font: 3.6rem "Raleway", Helvetica, sans-serif;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.8);
  letter-spacing: 4px;
  color: #242424;
  margin: 0;
}

h2 {
  color: #242424;
  font: 2.8rem "Raleway", Helvetica, sans-serif;
  margin: 0;
  padding: 16px 0 0;
  text-shadow: 1px 1px rgba(236, 236, 235, 0.8);
}

h3 {
  font: 1.6rem "Raleway", Helvetica, sans-serif;
  margin: 0;
  padding: 16px 0 0;
}

a {
  font-weight: bold;
  color: #4d86a8;
}
a:hover {
  text-decoration: none;
}

p,
ul,
ol {
  font: 1.2rem "Cardo", serif;
}

p {
  margin: 16px 0;
}
p.smallest-text {
  font-size: 0.8rem;
}
.styled {
  color: darkred;
}
