@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700|Open+Sans");
/*********************
BREAKPOINTS
*********************/
body {
  color: #4A4A4A;
  font: 20px/32px;
  font-family: "Open Sans", Helvetica, sans-serif; }

.wrapper {
  position: relative; }
  .wrapper .content {
    margin: 0 auto;
    width: 80%;
    padding: 4% 10%; }
  .wrapper .intro {
    background: url("../images/jfilipe-unsplash-small.png") fixed 0 0; }
  .wrapper #front-end-development {
    background-color: #242424;
    color: #999999; }
  .wrapper footer {
    border-top: 1px solid #f2f2f2;
    width: 80%;
    padding: 10px 10%; }
    .wrapper footer p {
      font-size: 8px; }

ul.inline-buttons {
  list-style: none;
  padding: 0; }
  ul.inline-buttons li {
    border-radius: 8px;
    border: 1px solid #999999;
    padding: 8px 16px;
    margin: 16px 16px 16px 0; }
    ul.inline-buttons li i {
      margin-right: 8px; }
    ul.inline-buttons li:hover {
      background-color: #242424; }
      ul.inline-buttons li:hover a {
        color: #FFF; }
    @media (min-width: 320px) {
      ul.inline-buttons li {
        display: block; } }
    @media (max-width: 320px) {
      ul.inline-buttons li {
        display: block; } }
    @media (min-width: 1024px) {
      ul.inline-buttons li {
        display: inline-block; } }

.grid-container {
  display: grid; }
  @media (min-width: 320px) {
    .grid-container {
      grid-template-columns: 100%; } }
  @media (max-width: 320px) {
    .grid-container {
      grid-template-columns: 100%; } }
  @media (min-width: 1024px) {
    .grid-container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px; } }
  .grid-container .grid a {
    color: #FFF;
    display: block; }
    .grid-container .grid a:hover {
      text-decoration: underline; }
  .grid-container .grid .tags {
    color: #ECECEB;
    display: inline-block;
    font-style: italic;
    padding: 8px 8px 8px 0;
    margin: 8px 4px 4px 0;
    font-size: 12px; }
  .grid-container.code-samples .grid {
    border-bottom: 1px solid #f2f2f2;
    padding: 16px; }

h1 {
  font-family: "Josefin Sans", Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 72px;
  letter-spacing: 2.5px;
  color: #242424;
  margin: 65px 0 25px; }

h2 {
  color: #7d7d7d;
  font-family: "Josefin Sans", Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  padding: 16px 0;
  text-transform: capitalize; }

h3 {
  background-color: #f2f2f2;
  color: #4A4A4A;
  font-family: "Josefin Sans", Helvetica, sans-serif;
  text-align: center;
  padding: 16px 0; }

h4 {
  margin: 0;
  font-weight: bold; }

h5 {
  font-style: italic;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999999; }

a {
  color: #242424;
  font-weight: bold;
  padding: 2px 5px;
  text-decoration: none; }

p, ul, ol {
  font: 20px/26px "Open Sans", Helvetica, sans-serif; }

p {
  margin: 0 0 25px; }
