@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700|Open+Sans");
/*********************
BREAKPOINTS
*********************/
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  background: url("../images/jfilipe-unsplash.png") repeat-y fixed 0 0;
  color: #4A4A4A;
  font: 20px/32px; }

.sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: #ECECEB;
  border-right: 1px solid #bfbfbf; }
  .sidebar ul {
    list-style: none;
    margin: 45px 0;
    padding: 0;
    text-align: center; }
    .sidebar ul li {
      padding: 22px 0; }
      .sidebar ul li a {
        margin: 0;
        color: #bfbfbf;
        text-decoration: none; }
        .sidebar ul li a i {
          font-size: 22px; }
        .sidebar ul li a:hover {
          color: #242424; }
  @media (min-width: 320px) {
    .sidebar {
      width: 12%; } }
  @media (max-width: 320px) {
    .sidebar {
      width: 12%; } }
  @media (min-width: 1024px) {
    .sidebar {
      width: 5%; } }

.content {
  width: 60%; }
  .content h1 {
    font-family: "Josefin Sans", Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 72px;
    letter-spacing: 2.5px;
    color: #242424;
    margin: 65px 0 25px; }
  .content h2 {
    font-family: "Josefin Sans", Helvetica, sans-serif;
    font-size: 38px;
    font-weight: 500;
    margin: 72px 0 5px 0;
    padding: 0;
    color: #7d7d7d;
    text-transform: uppercase; }
  .content p, .content ul, .content ol {
    font: 20px/32px "Open Sans", Helvetica, sans-serif; }
  .content p {
    margin: 0 0 35px; }
  @media (min-width: 320px) {
    .content {
      margin-left: 18%; } }
  @media (max-width: 320px) {
    .content {
      margin-left: 18%; } }
  @media (min-width: 1024px) {
    .content {
      margin-left: 8%; } }

footer {
  font-size: 10px;
  width: 60%; }
  @media (min-width: 320px) {
    footer {
      margin-left: 18%; } }
  @media (max-width: 320px) {
    footer {
      margin-left: 18%; } }
  @media (min-width: 1024px) {
    footer {
      margin-left: 8%; } }
