@import url("https://fonts.googleapis.com/css?family=Cardo|Montserrat:300,400,500");
/*********************
BREAKPOINTS
*********************/
body {
  font-family: Helvetica, serif;
  background-color: #f2f2ed;
  color: #666666; }

a {
  color: #0F3057; }

.sidebar {
  font-family: "Montserrat", Arial, sans-serif;
  color: #FFF;
  text-align: center;
  background: #0F3057;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #008891, #0F3057);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #008891, #0F3057);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  @media (min-width: 1024px) {
    .sidebar {
      height: 100%;
      width: 25%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      overflow-x: hidden;
      padding: 10px 25px; } }
  .sidebar .brand {
    display: inline-block;
    border: 1px solid #FFF;
    margin: 25px 0 10px;
    padding: 25px; }
    .sidebar .brand h1 {
      font-family: "Montserrat", Arial, sans-serif;
      font-size: 48px;
      margin: 0;
      font-weight: 500; }
    .sidebar .brand div {
      font-size: 10px;
      margin-top: -5px;
      padding-top: 5px;
      border-top: 1px dotted #FFF; }
  .sidebar p {
    margin-top: 0;
    font-size: 10px; }
  .sidebar ul {
    list-style: none;
    padding: 0; }
    @media (min-width: 320px) {
      .sidebar ul {
        text-align: center;
        margin: 10px auto; } }
    @media (min-width: 1024px) {
      .sidebar ul {
        margin: 55px 0 0; } }
    @media (min-width: 320px) {
      .sidebar ul li {
        display: inline-block; } }
    @media (min-width: 1024px) {
      .sidebar ul li {
        display: block; } }
    .sidebar ul li a {
      text-decoration: none;
      color: #FFF;
      padding: 10px;
      display: block; }
  .sidebar p:last-child {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 90%; }
    @media (min-width: 320px) {
      .sidebar p:last-child {
        display: none; } }
    @media (min-width: 1024px) {
      .sidebar p:last-child {
        display: block; } }

@media (min-width: 320px) {
  .content {
    margin: 5%; } }

@media (min-width: 1024px) {
  .content {
    margin-left: 33%;
    margin-right: 4%; } }

.content h1 {
  font-family: "Montserrat", Arial, sans-serif;
  margin-bottom: 0; }
  @media (min-width: 320px) {
    .content h1 {
      display: none; } }
  @media (min-width: 1024px) {
    .content h1 {
      display: block; } }

.content h2 {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
  margin: 35px 0 0 0;
  padding: 10px; }

.content h3 {
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  margin: 10px 0 0;
  padding: 15px;
  color: #666666;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400; }
  @media (min-width: 320px) {
    .content h3 .date {
      display: block; } }
  @media (min-width: 1024px) {
    .content h3 .date {
      float: right; } }

.content h4 {
  margin-top: 0; }

.content p {
  margin: 10px 20px 45px 20px; }

footer {
  color: gray;
  font-size: 10px;
  text-align: center; }
  @media (min-width: 320px) {
    footer {
      display: block; } }
  @media (min-width: 1024px) {
    footer {
      display: none; } }
