.grid-container {
  display: grid;

  @include breakpoint(phablet){
   grid-template-columns: 100%;
  }

  @include breakpoint(mobile){
   grid-template-columns: 100%;
  }

  @include breakpoint(laptop){
    &.three-column {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }
  }
  .grid {
    a {
      color: $navyGray;
    }
  }

  &.single-column {
    grid-template-columns: 1fr;

  }

}