body {
  font-family: $copy;
  background-color: lighten($tan, 5%);
  color: $gray;
  font: 20px/32px;
}

// partials
nav {  
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  background-color: $charcoal;
  padding: 12px 0;
  text-align: center;

  h1 {
    font-family: $heading;
    font-size: 38px;
    text-transform: uppercase;
    margin: 0 3%; 
    font-weight: 500;
    display:inline-block;
    color: $ivory;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 10px 3% 0;
    display: inline-block;
    
    li {
      display: inline-block;
      a {
        text-decoration: none;
        color: $greige;
        padding: 10px;
        display: block;
        font-size: 36px;
      }
    }
  }

}
.intro {
  background-color: lighten($ivory, 1%);
  border: 30px solid $white;

  @include breakpoint(mobile){ 
    margin-top: 138px;
  }
  @include breakpoint(phablet){ 
    margin-top: 95px;
  }
  @include breakpoint(laptop){ 
    margin-top: 95px;
  }

  p{
    margin-bottom: 20px;
  }

  a {
    margin-top: 20px;
    padding: 10px;
    border: 5px solid $tan;
    color: $gray;
    text-decoration: none;
    text-transform: uppercase;
  }

}

.content {
  font: 22px/32px $copy;

  h1 {
    font-family: $heading;
    margin: 0;
  }

  h2 {
    font-family: $heading;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    margin: 35px 0 0 0;
    padding: 0;
    color: $greige;
  }
  h3 {
    border-top: 1px solid $lightGray;
    border-bottom: 1px solid $lightGray;
    margin: 10px 0 20px;
    padding: 15px 0;
    color: $gray;
    font-family: $heading;
    font-size: 16px;
    font-weight: 400;

    .date {
      @include breakpoint(phablet) {      
        display: block;
      }
      @include breakpoint(laptop) {
        float: right;
      }
    }
  }
  h4 {
    margin-top: 0;
  }
  p {
    margin: 0 0 50px;
  }
  @include breakpoint(phablet){
    padding: 8%;
  }
  @include breakpoint(mobile){
    padding: 8%;
  }
  @include breakpoint(laptop){
    padding: 3% 18%;
  }
}

footer {
  color: gray;
  font-size: 10px;
  text-align: center;
}