body {
  color: $basicGray;
  font-family: $copy;
}
.wrapper {
  position: relative;

  figure {
    img{
      margin: 0 0 25px;
      max-width: 100%;
      height: auto;
    }
    p {
      font-size: $copySmallest;
      color: $basicGray;
    }
  }

  .content {
    margin:0 auto;
    width: 80%;
    padding: 2% 10% 0 10%;
    background-color: $white;
    color: $charcoal;
  }

  .intro {
    background-color: $lightestGray;
    p {
      color: $basicGray;
      font-size: $copySmaller;
      margin:0;
    }
  }

  .callout {
    background-color: $whitesmoke;
    border: 1px solid $lightestGray;
    border-radius: 8px;
    margin: 18px 0;
    padding: 20px;
    p {
      font-style: italic;
      color: lighten($charcoal, 30%);
    }
  }
  .tags {
    color: $lightGray;
    display:inline-block;
    font-style: italic;
    margin: 8px 8px 16px 0;
    font-size: $copySmaller;
  }

  .hidden-text {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }

  .center {
    text-align: center;
  }

  .add-padding {
    padding: 16px;
  }

  footer {
    border-top: 1px solid $lightestGray;
    width: 80%;
    padding: 10px 10%;
  }

}
