body {
  font-family: $copy;
//  font-size: 14px;
  background-color: lighten($ecru, 5%);
  color: $gray;
}

a {
  color: $sapphire;
}
// partials
.sidebar {
  font-family: $heading;
  color: $white;
  text-align: center;
  @include GemStone;
  @include breakpoint(laptop){
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 10px 25px;
  }
  
  .brand {
    h1 {
      font-family: $heading;
      font-size: 48px;
      margin: 0; 
      font-weight: 500;
    }
    
    div {
      font-size: 10px;
      margin-top: -5px;
      padding-top: 5px;
      border-top: 1px dotted $white;  
    }
    display:inline-block;
    border: 1px solid $white;
    margin: 25px 0 10px;
    padding: 25px;
  }
  p {
    margin-top: 0;
    font-size: 10px;
  }
  ul {
    list-style: none;
    padding: 0;
    @include breakpoint(phablet) {
      text-align: center;
      margin: 10px auto;
    }      
    @include breakpoint(laptop) {
      margin: 55px 0 0;
    }
    li {
      @include breakpoint(phablet) {
        display: inline-block;
      }
      @include breakpoint(laptop) {
        display: block;
      }
      a {
        text-decoration: none;
        color: $white;
        padding: 10px;
        display: block;
      }
    }
  }
  p:last-child {
    @include breakpoint(phablet){
      display: none;
    }
    @include breakpoint(laptop){
      display: block;
    }
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 90%;
  }
}

.content {
  @include breakpoint(phablet) {
    margin: 5%;
  }
  @include breakpoint(laptop){
    margin-left: 33%;
    margin-right: 4%;
  }
  h1 {
    font-family: $heading;
    margin-bottom: 0;
    @include breakpoint(phablet) {
      display: none;
    }
    @include breakpoint(laptop) {
      display: block;
    }
  }
  h2 {
    font-family: $heading;
    font-weight: 400;
    margin: 35px 0 0 0;
    padding: 10px;
//    text-align: center;
  }
  h3 {
    border-top: 1px solid $lightGray;
    border-bottom: 1px solid $lightGray;
    margin: 10px 0 0;
    padding: 15px;
    color: $gray;
    font-family: $heading;
    font-size: 14px;
    font-weight: 400;
    .date {
      @include breakpoint(phablet) {      
        display: block;
      }
      @include breakpoint(laptop) {
        float: right;
      }
    }
  }
  h4 {
    margin-top: 0;
  }
  p {
    margin: 10px 20px 45px 20px;
  }
}

footer {
  @include breakpoint(phablet){
    display: block;
  }
  @include breakpoint(laptop){
    display:none;
  }
  color: gray;
  font-size: 10px;
  text-align: center;
}