body {
  font-family: $copy;
  background: url('../images/jfilipe-unsplash.png') repeat-y fixed 0 0;
  color: $gray;
  font: 20px/32px;
}

// partials
.sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: $cement;
  border-right: 1px solid lighten($lightGray, 15%);

  ul {
    list-style: none;
    margin: 45px 0;
    padding: 0;
    text-align: center;
    li {
      padding: 22px 0;
      a {
        margin: 0;
        color: lighten($lightGray, 15%);
        text-decoration: none;
        i {
          font-size: 22px;
        }
        &:hover {
          color: $charcoal;
        }
      }
    }
  }

  @include breakpoint(phablet){
    width: 12%;
  }
  @include breakpoint(mobile){
    width: 12%;
  }
  @include breakpoint(laptop){
    width: 5%;
  }

}

.content {
  width: 60%;

  h1 {
    font-family: $heading;
    text-transform: uppercase;
    font-size: 72px;
    letter-spacing: 2.5px;
    color: $charcoal;
    margin: 65px 0 25px;
  }

  h2 {
    font-family: $heading;
    font-size: 38px;
    font-weight: 500;
    margin: 72px 0 5px 0;
    padding: 0;
    color: lighten($charcoal, 35%);
    text-transform: uppercase;
  }

  a {
    color: $charcoal;
    background-color: $cement;
    font-weight: bold;
    padding: 2px 5px;
    text-decoration: none;
    &:hover {
      color: $white;
      background-color: $charcoal;
    }
  }

  p, ul, ol {
    font: 20px/32px $copy;
  }

  p{
    margin: 0 0 35px;
  }

  @include breakpoint(phablet){
    margin-left: 18%;
  }

  @include breakpoint(mobile){
    margin-left: 18%;
  }

  @include breakpoint(laptop){
    margin-left: 8%;
  }
}

footer {
  font-size: 10px;
  width: 60%;

  @include breakpoint(phablet){
    margin-left: 18%;
  }

  @include breakpoint(mobile){
    margin-left: 18%;
  }

  @include breakpoint(laptop){
    margin-left: 8%;
  }
}