// mixins here
@mixin ClearFix {
    &:after{
        content:'';
        display: table;
        clear: both;
    }
}

@mixin GemStone {
  background: $sapphire;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, $jade, $sapphire);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, $jade, $sapphire); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
