h1 {
    font: $copyLarge $heading;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(255,255,255,0.8);
    letter-spacing: 4px;
    color: $charcoal;
    margin: 0;
  }

  h2 {
    color: lighten($charcoal, 30%);
    font: $copyMedium $heading;
    margin: 0;
    padding: 16px 0 0;
    text-shadow: 1px 1px rgba(236,236,235,0.8);
  }

  h3 {
    color: lighten($charcoal, 30%);
    font: $copySmall $heading;
    margin: 0;
    padding: 16px 0 0;
  }

  h4 {
    font: $copySmall $heading;
    font-style: italic;
    margin: 8px 0;
    text-decoration: underline;
  }

  h5 {   
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
  }

  a {
    font-weight: bold;
    color: $navyGray;

    &:hover {
      text-decoration: none;
    }
  }

  p, ul, ol {
    font: $copySmall $copy;
  }

  ul.no-list-style {
    list-style:none;
    margin: 16px;
    padding: 0;
  }

  p {
    margin: 0 0 25px;
    
    &.smallest-text {
      font-size: $copySmallest;
    }
  }