@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700|Open+Sans');

$white:         #FFF;
$black:         #000;
$gray:          #4A4A4A;
$lightGray:     lighten($black, 60%);

$charcoal:      #242424;
$cement:        #ECECEB;
  
$heading:       'Josefin Sans', Helvetica, sans-serif;
$copy:          'Open Sans', Helvetica, sans-serif; 

/*********************
BREAKPOINTS
*********************/

 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 1024px) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 768px) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 320px)  { @content ; }
  }
  @else if $point == mobile {
     @media (max-width: 320px)  { @content ; }

  }
}