@import url('https://fonts.googleapis.com/css?family=Cardo|Josefin+Sans');

$white:         #FFF;
$black:         #000;
$basicGray:     #656565;
$lightGray:     #76766B; //lighten($black, 66%);
$lightestGray:  #f6f6f5; //lighten($black, 96%);
$navyGray:      #4D86A8; 

$charcoal:      #242424;
$cement:        #ECECEB;
$whitesmoke:    #F8F8F8;
  
$heading:       'Josefin Sans', Helvetica, sans-serif;
$copy:          'Cardo', serif; //'Open Sans', Helvetica, sans-serif; 

$copySmallest:  12px;
$copySmaller:   14px;
$copySmall:     18px;
$copyMedium:    24px;
$copyLarge:     30px;

 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 1024px) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 768px) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 320px)  { @content ; }
  }
  @else if $point == mobile {
     @media (max-width: 320px)  { @content ; }

  }
}